body {
     margin: 0;
     font-family:"poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    
}
.navigation {
    text-align: center;
    background-color: darkgrey;
    padding: 15px 100%;
}
.main {
    align-self: center;  
}
.footer {   
    background-color: darkgrey;    
    padding: 15px 100%;
}