.header {
  text-align: center;
}
.facts {
  border: 1px solid darkgrey;
  border-radius: 1%;
  display:flex;
}
tbody{
  width:100%;
}

.facts tr {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-items: left;
gap: 10vw ; 
padding: 10px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

h3 {
  margin-bottom: 20px;
}

.links {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-column-gap: 10px;
}

.links > li {
list-style-type: none;
background-color:rgba(44, 130, 201, 1);
width:100%;
padding: 15px 0px;
text-align: center;
}

.links a {
text-decoration: none;
color:white;
}

ul {
  padding: 0px;
  }